@tailwind base;

@tailwind components;

@tailwind utilities;

.content ul {
  @apply my-6;
}

body {
  background-color: #283146;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  color: #DAE7F8;
}

p, li, a, span, div, input, textarea, button, table, td, th, tr {
  font-family: 'Lato', sans-serif;
  color: #DAE7F8;
}

.next-or-prev {
  padding-top: 5.75px;
  padding-bottom: 5.75px;
  margin-top: -0.25px;
}